@media (min-width: 480px) and (max-width: 1020px) {
  /*header*/

  header {
    margin: 30px;
  }

  .logo_reservia img {
    margin: 0;
  }

  nav {
    margin: 15px 0 20px 0;
  }

  .nav_hosting {
    padding: 43px 0 0 0;
  }

  .nav_activity:hover {
    padding: 43px 0 0 20px;
  }

  #inscription:hover {
    padding: 43px 0 0 20px;
  }

  nav a {
    padding: 0 0 0 20px;
    margin: 0;
  }

  a:hover {
    padding: 43px 0 0 0;
  }

  main {
    width: auto;
    margin: 30px 30px 0 30px;
  }

  .section_title h1 {
    margin: 30px 0 10px 0;
  }

  .section_sub-title span {
    margin: 0;
  }

  .location {
    margin: 20px 0 0 0;
  }

  .logo_location {
    margin: 0;
  }

  input {
    width: 100%;
  }
  /*filters*/
  .filters {
    width: auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 0 0;
  }

  .contains_economic {
    margin: 15px 10px;
  }

  .contains_family {
    margin: 15px 10px;
  }

  .contains_romantic {
    margin: 15px 10px;
  }

  .contains_pets_allowed {
    margin: 15px 10px;
  }

  /*informations*/

  .informations {
    margin: 20px 0 0 0;
  }

  /*most popular*/

  .most_popular {
    width: auto;
    margin: 0;
    margin-bottom: 40px;
  }

  .picture_most_popular1 {
    background-size: 55%;
  }

  .picture_most_popular2 {
    background-size: 48%;
  }

  .picture_most_popular3 {
    background-size: 44%;
  }

  .description_picture_most_popular1 {
    margin: -2px -2px -2px 150px;
  }

  .description_picture_most_popular2 {
    margin: -2px -2px -2px 150px;
  }

  .description_picture_most_popular3 {
    margin: -2px -2px -2px 150px;
  }

  .section {
    flex-direction: column-reverse;
  }

  .section_hosting {
    flex-direction: column-reverse;
    margin: 50px 0 0 0;
  }

  .contains_hosting {
    width: auto;
    padding-bottom: 40px;
    margin: 0 0 20px 0;
  }

  .picture_hosting_top {
    flex-direction: column;
  }

  .picture_hosting_1 {
    background-size: 101%;
  }

  .picture_hosting_2 {
    background-size: 101%;
  }

  .picture_hosting_3 {
    background-size: 101%;
  }

  .picture_hosting_bottom {
    flex-direction: column;
  }

  .picture_hosting_4 {
    background-size: 101%;
  }

  .picture_hosting_5 {
    background-size: 101%;
  }

  .picture_hosting_6 {
    background-size: 101%;
  }

  .hosting_1 {
    width: auto;
  }

  .description_picture1 {
    width: 226px;
    height: 86px;
    background-size: cover;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-left: 15px;
  }

  .description_picture2 {
    width: 226px;
    height: 86px;
    background-size: cover;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-left: 15px;
  }

  .description_picture3 {
    width: 228px;
    height: 86px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin-left: -4px;
    padding-left: 15px;
  }

  .description_picture4 {
    width: 228px;
    height: 86px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin-left: -4px;
    padding-left: 15px;
    border: none;
  }

  .contain_description_picture_top {
    border: none;
    padding: 1px 0 0 15px;
  }

  .contain_description_picture_bottom {
    border-radius: 0 0 15px 15px;
    padding: 1px 0 0 15px;
    border: none;
  }

  /*Activity*/

  .section_activity {
    margin: 0;
  }

  .picture_activity {
    flex-direction: column;
  }

  .picture_activity1 {
    width: auto;
    margin: 0;
  }

  .picture1 {
    height: 200px;
    margin: 0 0 40px 0;
    background-size: 100%;
  }

  .picture1 h2 {
    width: auto;
    margin-top: 135px;
  }

  .picture_activity2-3 {
    width: auto;
    height: 200px;
    margin: 0 0 280px 0;
  }

  .picture2 {
    height: 200px;
    background-size: 100%;
    margin-bottom: 40px;
  }

  .picture2 h2 {
    width: auto;
    margin-top: 135px;
  }

  .picture3 {
    height: 200px;
    background-size: 100%;
    background-position: left;
  }

  .picture3 h2 {
    width: auto;
    margin-top: 135px;
  }

  .picture_activity4 {
    width: auto;
    margin: 0;
  }

  .picture4 {
    height: 200px;
    margin: 0 0 40px 0;
    background-size: 100%;
  }

  .picture4 h2 {
    width: auto;
    margin-top: 135px;
  }

  .picture_activity5-6 {
    width: auto;
    height: 200px;
    margin: 0 0 280px 0;
  }

  .picture5 {
    height: 200px;
    margin: 0 0 40px 0;
    background-size: 100%;
    background-position: center;
  }

  .picture5 h2 {
    width: auto;
    margin-top: 135px;
  }

  .picture6 {
    height: 200px;
    margin: 0 0 40px 0;
    background-size: 100%;
    background-position: center;
  }

  .picture6 h2 {
    width: auto;
    margin-top: 135px;
  }

  /*footer*/

  footer {
    margin: 0;
    height: auto;
    padding: 0 30px 20px 30px;
    justify-content: space-between;
  }

  footer h3 {
    font-size: 0.9em;
  }

  footer span {
    font-size: 0.7em;
  }

  .footer_about {
    padding-top: 20px;
    margin: 0;
  }

  .footer_about a {
    margin-bottom: 10px;
  }

  .footer_hosting {
    padding-top: 20px;
    margin: 0 0 30px 0;
  }

  .footer_hosting a {
    margin-bottom: 10px;
  }

  .footer_assistance {
    padding-top: 20px;
    margin: 0 0 30px 0;
  }

  .footer_assistance a {
    margin-bottom: 10px;
  }
}
