@media (min-width: 761px) and (max-width: 979px) {
  /*filters*/
  .filters {
    width: auto;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  .contains_economic {
    margin: 0 60px 30px 0;
  }

  .contains_family {
    margin: 0 50px 30px 0;
  }

  .contains_romantic {
    margin: 0 60px 10px 155px;
  }

  .contains_pets_allowed {
    margin: 0 0 10px 0;
  }

  /*informations*/

  .informations {
    margin-top: 0;
  }

  /*most popular and hosting*/

  .section {
    flex-direction: column-reverse;
  }

  .section_hosting {
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 0 0 0;
  }

  .most_popular {
    width: auto;
    margin: 0 0 50px 0;
  }

  .picture_most_popular {
    margin-left: 120px;
  }

  .contains_hosting {
    width: -webkit-fill-available;
    height: auto;
    padding-bottom: 40px;
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .picture_hosting_top {
    flex-direction: column;
  }

  .picture_hosting_bottom {
    flex-direction: column;
  }

  .hosting_1 {
    width: auto;
  }

  .description_picture1 {
    width: 226px;
    height: 86px;
    background-size: cover;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-left: 15px;
  }

  .description_picture2 {
    width: 226px;
    height: 86px;
    background-size: cover;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-left: 15px;
  }

  .description_picture3 {
    width: 228px;
    height: 86px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin-left: -4px;
    padding-left: 15px;
  }

  .description_picture4 {
    width: 228px;
    height: 86px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin-left: -4px;
    padding-left: 15px;
    border: none;
  }

  .contain_description_picture_top {
    border: none;
  }

  .contain_description_picture_bottom {
    background-color: white;
    border-radius: 20px;
    height: 90px;
    border-radius: 0 0 15px 15px;
    margin-left: -4px;
    padding-left: 15px;
    border: none;
  }

  /*Activity*/

  .picture_activity {
    flex-direction: column;
  }

  .picture1 {
    width: auto;
    height: 200px;
    margin: 0 0 40px 0;
  }

  .picture1 h2 {
    width: auto;
    margin-top: 142px;
  }

  .picture_activity2-3 {
    width: auto;
    height: 200px;
    margin: 0 0 280px 0;
  }

  .picture2 {
    height: 200px;
  }

  .picture2 h2 {
    width: auto;
    margin-top: 142px;
  }

  .picture3 {
    height: 200px;
  }

  .picture3 h2 {
    width: auto;
    margin-top: 142px;
  }

  .picture4 {
    width: auto;
    height: 200px;
    margin: 0 0 40px 0;
  }

  .picture4 h2 {
    width: auto;
    margin-top: 142px;
  }

  .picture_activity5-6 {
    width: auto;
    height: 200px;
    margin: 0 0 280px 0;
  }

  .picture5 {
    width: auto;
    height: 200px;
    margin: 0 0 40px 0;
  }

  .picture5 h2 {
    width: auto;
    margin-top: 142px;
  }

  .picture6 {
    width: auto;
    height: 200px;
    margin: 0 0 40px 0;
  }

  .picture6 h2 {
    width: auto;
    margin-top: 142px;
  }

  /*footer*/

  footer {
    display: flex;
    margin: 0;
    width: auto;
    height: auto;
    flex-direction: row;
    padding: 0 50px 20px 50px;
    justify-content: space-between;
  }

  .footer_about {
    padding-top: 20px;
    margin: 0;
  }

  .footer_about a {
    margin-bottom: 10px;
  }

  .footer_hosting {
    padding-top: 20px;
    margin: 0 0 30px 0;
  }

  .footer_hosting a {
    margin-bottom: 10px;
  }

  .footer_assistance {
    padding-top: 20px;
    margin: 0 0 30px 0;
  }

  .footer_assistance a {
    margin-bottom: 10px;
  }
}
