@media (min-width: 319px) and (max-width: 479px) {
  /*header*/

  header {
    flex-direction: column;
  }

  .logo_reservia img {
    margin: 30px 0 30px 20px;
  }

  nav {
    border-bottom: 3px solid #f2f2f2;
    margin: 0;
  }

  nav a {
    margin: 0;
  }

  .contains_nav {
    padding-bottom: 25px;
    width: auto;
  }

  .nav_hosting {
    width: auto;
    border: none;
    border-bottom: 3px solid #0065fc;
    padding: 0 36px 25px 40px;
  }

  .nav_activity {
    width: auto;
    height: auto;
    padding: 0 20px 25px 45px;
  }

  .nav_hosting:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 0 36px 25px 40px;
  }

  .nav_activity:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 0 60px 25px 60px;
  }

  #inscription {
    position: absolute;
    top: 43px;
    right: 10px;
    font-weight: 600;
    border: none;
    color: #0065fc;
  }

  /*section*/

  /*paragraphes*/

  .section_title h1 {
    width: 315px;
    margin-left: 20px;
  }

  .section_sub-title span {
    margin-left: 20px;
  }

  /*location search*/

  .location {
    margin: 20px 20px 0 20px;
  }

  .logo_location {
    margin: 0;
  }

  .input {
    width: -webkit-fill-available;
    max-width: 270px;
    border: 1px solid #f2f2f2;
  }

  input {
    position: absolute;
    width: 200px;
    left: 80px;
    background: none;
    font-size: 1em;
  }

  .search_button {
    display: none;
  }

  .logo_search {
    display: flex;
    padding: 18px 18px 16px 18px;
    border: 1px solid #0065fc;
    color: white;
    background-color: #0065fc;
    border-radius: 0 20px 20px 0;
  }

  /*Filters*/

  .filters {
    margin: 20px 0 0 0;
    flex-direction: column;
    outline: none;
  }

  .filters h1 {
    margin: 0 0 0 20px;
  }

  .contains_economic {
    margin: 20px 0 0 20px;
  }

  .economic {
    width: -webkit-fill-available;
    max-width: 155px;
    padding: 0 0 0 52px;
    font-size: 0.68em;
  }

  .contains_family {
    position: absolute;
    right: 0;
    top: 405px;
  }

  .family {
    width: -webkit-fill-available;
    max-width: 126px;
    font-size: 0.68em;
  }

  .contains_romantic {
    margin: 14px 0 0 20px;
  }

  .romantic {
    width: -webkit-fill-available;
    max-width: 150px;
    padding: 0 0 0 52px;
    font-size: 0.68em;
  }

  .contains_pets_allowed {
    margin: 14px 0 0 20px;
  }

  .pets_allowed {
    width: -webkit-fill-available;
    max-width: 200px;
    padding: 0 0 0 52px;
    font-size: 0.68em;
  }

  .economique:hover,
  .familial:hover,
  .romantic:hover,
  .pets_allowed:hover {
    background: none;
  }

  /*informations*/

  .informations {
    margin: 10px 20px 15px 20px;
  }

  /*section*/

  .section {
    flex-direction: column-reverse;
    margin: 30px 0 0 0;
  }

  /*most popular*/

  .most_popular {
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    border-radius: 0;
  }

  .contains_picture_most_popular {
    padding: 0;
    margin-right: 20px;
  }

  .header_most_popular {
    margin-right: 20px;
  }

  .header_most_popular h1 {
    margin: 0 0 25px 0;
    padding-top: 40px;
    font-size: 1.4em;
  }

  .logo_header_most_popular {
    padding: 20px 0 0 90px;
  }

  .picture_most_popular1 {
    background-size: 74%;
  }

  .picture_most_popular2 {
    background-size: 66%;
  }

  .picture_most_popular3 {
    background-size: 47%;
  }

  /*hosting*/

  .section_hosting {
    margin: 0;
    flex-direction: column-reverse;
  }

  .contains_hosting {
    background: none;
    width: -webkit-fill-available;
    height: auto;
    margin: 20px 20px 40px 20px;
    padding: 0;
  }

  #hosting {
    margin: 0 0 30px 0;
  }

  .hosting_1 {
    width: auto;
    margin: 0;
  }

  .picture_hosting_top {
    flex-direction: column;
  }

  .picture_hosting_bottom {
    flex-direction: column;
  }

  .picture_hosting_1 {
    margin: 0 0 12px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    background-position: bottom 50px left 0;
    height: auto;
    border-radius: 20px;
  }

  .picture_hosting_2 {
    margin: 0 0 12px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    background-position: bottom 50px left 0;
    height: auto;
    border-radius: 20px;
  }

  .picture_hosting_3 {
    margin: 0 0 12px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    background-position: bottom 50px left 0;
    height: auto;
    border-radius: 20px;
  }

  .picture_hosting_4 {
    margin: 0 0 12px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    background-position: bottom;
    height: auto;
    border-radius: 20px;
  }

  .picture_hosting_5 {
    margin: 0 0 12px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    height: auto;
    border-radius: 20px;
    background-position: top;
  }

  .picture_hosting_6 {
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #d9d9d9;
    background-size: 100%;
    background-position: bottom -45px left 0;
    height: auto;
    border-radius: 20px;
  }

  .description_picture1 {
    padding-left: 15px;
  }

  .description_picture2 {
    padding-left: 15px;
  }

  .description_picture3 {
    padding-left: 15px;
  }

  .description_picture4 {
    padding-left: 15px;
  }

  .description_picture5 {
    padding-left: 15px;
  }

  .description_picture6 {
    padding-left: 15px;
  }

  .contain_description_picture_top {
    margin: 100px -2px -2px -4px;
    min-height: 0;
  }

  .contain_description_picture_bottom {
    margin: 100px -2px -2px -4px;
    min-height: 0;
  }

  .picture_hosting span {
    font-size: 0.9em;
  }

  /*Activity*/

  .section_activity {
    margin: 0;
  }

  .contains_activity {
    margin: 0 20px 0 20px;
  }

  .picture_activity {
    flex-direction: column;
  }

  .picture_activity1 {
    width: auto;
    margin: 0;
  }
  .picture1 {
    margin: 0 0 20px 0;
    height: 190px;
    background-size: 102%;
  }

  .picture1 h2 {
    margin-top: 125px;
  }

  .picture_activity2-3 {
    width: auto;
    margin: 0;
  }

  .picture2 {
    margin: 0 0 20px 0;
    height: 190px;
  }

  .picture2 h2 {
    margin-top: 125px;
  }

  .picture3 {
    margin: 0 0 20px 0;
    height: 190px;
  }

  .picture3 h2 {
    margin-top: 125px;
  }

  .picture_activity4 {
    width: auto;
    margin: 0;
  }

  .picture4 {
    margin: 0 0 20px 0;
    height: 190px;
    background-size: 102%;
  }

  .picture4 h2 {
    margin-top: 125px;
  }

  .picture_activity5-6 {
    width: auto;
    margin: 0;
  }

  .picture5 {
    margin: 0 0 20px 0;
    height: 190px;
    background-size: 102%;
  }

  .picture5 h2 {
    margin-top: 125px;
  }

  .picture6 {
    margin: 0 0 20px 0;
    height: 190px;
    background-position: bottom;
  }

  .picture6 h2 {
    margin-top: 125px;
  }

  /*footer*/

  footer {
    margin: 0;
    height: 460px;
    flex-direction: column;
    padding: 0 0 30px 30px;
  }

  footer span {
    font-size: 1em;
  }

  footer h3 {
    font-size: 1.2em;
  }

  .footer_about {
    padding-top: 20px;
    margin: 0 0 10px 0;
  }

  .footer_about a {
    margin-bottom: 10px;
  }

  .footer_hosting {
    margin: 0;
    margin-bottom: 10px;
  }

  .footer_hosting a {
    margin-bottom: 10px;
  }

  .footer_assistance {
    margin: 0;
  }

  .footer_assistance a {
    margin-bottom: 10px;
  }
}
