@font-face 
{
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.eot');
    src: url('font/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Raleway-Regular.woff2') format('woff2'),
        url('font/Raleway-Regular.woff') format('woff'),
        url('font/Raleway-Regular.ttf') format('truetype'),
        url('font/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.eot');
    src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff'),
        url('Raleway-Bold.ttf') format('truetype'),
        url('Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body
{
    background-color: white;
    width: 100%;
    font-family: 'Raleway', serif;
    margin: auto;
}

    /*header*/

header
{
    display: flex;
    justify-content: space-between;
}


#logo_reservia img
{
    width: 95px;
    height: 45px;
    margin-top: 50px;
    margin-left: 50px;
}

nav 
{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 1em;
    margin-bottom: 30px;
}

.nav_hosting
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a
{
    color: black;
    text-decoration: none;
    margin-right: 18px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 48px;
    color: #0065FC;
    padding-left: 20px;
    padding-right: 20px;
}

#inscription
{
    color: #0065FC;
}


/*paragraphes*/



.title1 h1
{
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.span1 span
{
    margin-top: 10px;
    margin-left: 50px;
}

/*location chearch*/

#location
{
    display: flex;
    margin-top: 20px;
}

.logo_loc
{
    padding: 17px 18px 15px 20px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-left: 50px;
    border-radius: 20px 0 0 20px;
}

.input
{
    border: 1px solid #F2F2F2;
}

input
{
    width: 55px;
    border: #F2F2F2;
    font-size: 1.2em;
    text-align: start;
    padding-left: 20px;
    font-weight: bold;
}

input[type="text"]:focus 
{
    outline:none;
}

p label
{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 20px;
}

.search_button
{
    width: 140px;
    border:1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    padding-top: 15px;
}

.button
{
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 1.2em;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
}

.logo_search
{
    display: none;
}


/*Filtres*/

#filters
{
    display: flex;
    flex-direction: row;
    width: 67%;
    margin-top: 30px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 1.3em;
    justify-content: space-between;
    text-align: center;
}

#filters h1
{
    font-size: 0.8em;
    font-weight: bold;
}

.btn
{
    border: 1px solid #F2F2F2;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 22px 22px;
    transition: 0.8s;
}

#economique
{
    display: flex;
    align-items: center;
}

#logo_billet
{
    position: absolute;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius:40px ;
    padding: 15px;
    background: #DEEBFF;
}

.economique
{
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding-left: 75px;
    padding-top: 17px;
    height: 56px;
    font-weight: bold;
    font-size: 0.8em;
}

#familial
{
    display: flex;
    align-items: center;
}

#logo_child
{
    position: absolute;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius:40px ;
    padding: 15px 20px;
    background: #DEEBFF;
}
.familial
{
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding-left: 75px;
    padding-top: 17px;
    height: 56px;
    font-weight: bold;
    font-size: 0.8em;
}

#romantique
{
    display: flex;
    align-items: center;
}

#logo_coeur
{
    position: absolute;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius:40px ;
    padding: 15px 17px;
    background: #DEEBFF;
}
.romantique
{
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding-left: 75px;
    padding-top: 17px;
    height: 56px;
    font-weight: bold;
    font-size: 0.8em;
}

#animaux_autorisé
{
    display: flex;
    align-items: center;
}

#logo_chien
{
    position: absolute;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius:40px ;
    padding: 15px;
    background: #DEEBFF;
}
.animaux_autorisé
{
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding-left: 75px;
    padding-top: 17px;
    height: 56px;
    font-weight: bold;
    font-size: 0.8em;
}

.economique:hover,.familial:hover,.romantique:hover,.animaux_autorisé:hover
{
    background: #F2F2F2;
}


/*informations*/

#informations
{
    display: flex;
    margin-left: 60px;
    align-items: center;
    margin-top: 20px;
}

#logo_informations
{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    padding:5px 11px;
}

#informations p
{
    margin-left: 15px;
}

/*hosting and most popular*/

.section
{
    display: flex;
    margin: 30px 50px 0 50px;
}

.section a:hover
{
    padding: 0;
    border: none;
}

/*hosting*/

.hosting
{
    width: 880px;
    height: 625px;
    background-color: #F2F2F2;
    padding: 50px 40px 0px 40px;
    border-radius: 20px;
}

#pics_hosting
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pics_hosting img
{
    width: 235px;
    height: 200px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 20px;
    position: relative;
    margin-bottom: 40px;
}

.description_pics_top
{
    position: absolute;
    top: 697px;
    background-size: cover;
    background-color: white;
    width: 228px;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.description_pics_bottom
{
    position: absolute;
    top: 949px;
    background-color: white;
    width: 228px;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.pics_hosting h2 
{
    font-size: 1.03em;
    margin-bottom: 4px;
}

.pics_hosting span
{
    font-size: 0.9em;
}

.stars
{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.stars_blue
{
    color: #0065FC;
}

.stars_grey
{
    color: #d9d9d9;
    padding-left: 5px;
}

/*Most popular*/

.most_popular
{
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    margin-left: 40px;
    padding: 50px 40px 0px 40px;
    border-radius: 20px;
}

.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header h1
{
    margin-right: 120px;
}

#logo_header
{
    font-size: 22px;
}

#pics_most_popular
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pics_most_popular img
{
    width: 150px;
    height: 135px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 20px;
    position: relative;
    margin-bottom: 40px;
}

.description_pics_most_popular1
{
    position: absolute;
    top: 576px;
    background-color: white;
    width: 215px;
    height: 143px;
    right: 90px;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
}

.description_pics_most_popular2
{
    position: absolute;
    top: 763px;
    background-color: white;
    width: 215px;
    height: 143px;
    right: 90px;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
}

.description_pics_most_popular3
{
    position: absolute;
    top: 950px;
    background-color: white;
    width: 215px;
    height: 143px;
    right: 90px;
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
}

.pics_most_popular h2 
{
    font-size: 1.03em;
    margin-bottom: 4px;
}

.pics_most_popular span
{
    font-size: 0.9em;
}

.stars_most_popular
{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

/*activity*/


.pics_activity
{
    display: flex;
    flex-direction: row;
}

.pics1
{
    margin-right: 45px;
    border-radius: 20px;
}

.pics1 img
{
    width: 302px;
    height: 445px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  #d9d9d9;
}

.pics2
{
    margin-right: 45px;
    border-radius: 20px;
}

.pics2 img
{
    width: 302px;
    height: 238px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  #d9d9d9;
}

.pics3
{
    position: absolute;
    left: 398px;
    top: 1514px;
    border-radius: 20px;
}
.pics3 img
{
    width: 302px;
    height: 164px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  #d9d9d9;

}

.pics4
{
    border-radius: 20px;
}

.pics4 img
{
    width: 302px;
    height: 195px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  #d9d9d9;
}

.pics5
{
    position: absolute;
    left: 1093px;
    top: 1470px;
    border-radius: 20px;
}

.pics5 img
{
    width: 302px;
    height: 208px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  #d9d9d9;
}

.pics_activity h2
{
font-size: 1em;
padding-left: 20px;
}

.pics1 h2
{
    position: absolute;
    top: 1606px;
    background-color: white;
    width: 282px;
    padding: 20px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}


.pics2 h2
{
    position: absolute;
    top: 1399px;
    background-color: white;
    width: 282px;
    padding: 20px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

.pics3 h2
{
    position: absolute;
    top: 92px;
    background-color: white;
    width: 282px;
    padding: 20px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

.pics4 h2
{
    position: absolute;
    top: 1356px;
    background-color: white;
    width: 282px;
    padding: 20px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

.pics5 h2
{
    position: absolute;
    top: 136px;
    background-color: white;
    width: 282px;
    padding: 20px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

/*footer*/

footer
{
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    height: 218px;
    background-color: #F2F2F2;
}

footer span
{
    font-size: 0.9em;
}

footer h3
{
    font-size: 1em;
}

.footer_about
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 250px 54px 50px;
}

.footer_hosting
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 85px;
}

.footer_assistance
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 320px;
    margin-top: 20px;
    margin-bottom: 85px;
}

footer a
{
    text-decoration: none;
    color: black;
}

footer a:hover
{
    border: none;
    padding: 0;
    color: black;
}