@media all and (max-width: 375px)
{

    /*header*/

    header
    {
        display: flex;
        flex-direction: column;
    }

    .logo_reservia img
    {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    nav
    {
        border-bottom: 3px solid #F2F2F2;
        width: 375px;
        margin:0;
    }

    nav a
    {
        margin: 0;
        padding-left: 40px;
        padding-right: 65px;
        padding-bottom: 25px;
    }

    .nav_hosting
    {
        width: 167px;
        border: none;
        border-bottom: 3px solid #0065FC;
        padding: 0px 35px 25px 40px;
    }

    a:hover
    {
        padding: 0;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 65px;
    }

    #inscription
    {
        position: absolute;
        top: 43px;
        right: 10px;
        font-weight: 600;
        border: none;
        padding: 0;
    }

    /*section*/

    /*paragraphes*/
    
    .section_title h1
    {
        width: 315px;
        margin-left: 20px;  
        font-size: 1.4em;
    }

    .section_sub-title span
    {
        margin-left: 20px;
    }

    /*location search*/

    .logo_location
    {
        margin-left: 20px;
        height: 18px;
    }

    .input
    {
        width: 260px;
        height: 50px;
        border: 1px solid #F2F2F2;
    }

    input
    {
        position: absolute;
        width: 200px;
        left: 80px;
        background: none;
    }

    .search_button
    {
        display: none;
    }

    .logo_search
    {
        display: flex;
        position: absolute;
        margin-left: 300px;
        padding: 18px 18px 16px 18px;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
        border: 1px solid #0065FC;
        color: white;
        background-color: #0065FC;
        border-radius: 20px;
    }

    /*Filters*/

    .filters
    {
        margin-top: 30px;
        width: 375px;
        margin-left: 0;
        flex-direction: column;
        outline: none;
    }

    .filters h1
    {
        position: absolute;
        left: 20px;
        top: 360px;
    }

    .contains_economique
    {
        margin-left: 20px;
        margin-top: 30px;
    }

    .economique
    {
        width: 180px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }


    .contains_familial
    {
        position: absolute;
        right: 24px;
        top: 410px;
    }

    .familial
    {
        width: 143px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    .contains_romantique
    {
        margin-left: 20px;
        margin-top: 14px;
    }

    .romantique
    {
        width: 173px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    .contains_animaux_autorisé
    {
        margin-left: 20px;
        margin-top: 14px;   
    }

    .animaux_autorisé
    {
        width: 230px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    .economique:hover,.familial:hover,.romantique:hover,.animaux_autorisé:hover
    {
        background: none;
    }

    /*informations*/

    .informations
    {
        width: 375px;
        height: 50px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    /*section*/

    .section
    {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    /*most popular*/

    .most_popular
    {
        width: auto;
        height: 580px;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        border-radius: 0;
    }

    .header h1
    {
        margin: 0;
        padding-top: 40px;
        font-size: 1,4em;
        margin-bottom: 25px;
    }

    .logo_header
    {
        padding-left: 90px;
        padding-top: 20px;
    }

    .picture_most_popular img
    {
        margin-bottom: 10px;
    }

    .description_picture_most_popular1
    {
        width: 175px;
        top: 797px;
        right: 20px;
    }

    .description_picture_most_popular2
    {
        width: 175px;
        top: 954px;
        right: 20px;
    }

    .description_picture_most_popular3
    {
        width: 175px;
        top: 1111px;
        right: 20px;
    }

    /*hosting*/

    .contains_hosting
    {
        background: none;
        margin-top: 20px;
        margin-left: 20px;
        padding: 0;
    }

    .picture_hosting
    {
        flex-direction: column;
    }

    .picture_hosting_1
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        margin-left: 0;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 23px right -6px;
    }

    .picture_hosting_2
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 23px right -6px;
    }

    .picture_hosting_3
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 26px right -12px;
    }

    .picture_hosting_4
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 302px right -6px;
    }
    
    .picture_hosting_5
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 45px right -6px;
    }

    .picture_hosting_6
    {
        width: 335px;
        height: 200px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 406px right -6px;
        margin-bottom: 30px;
    }

    .description_picture1
    {
        position: absolute;
        top: 825px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_picture2
    {
        position: absolute;
        top: 1045px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_picture3
    {
        position: absolute;
        top: 1265px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_picture4
    {
        position: absolute;
        top: 1243px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_picture5
    {
        position: absolute;
        top: 1463px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_picture6
    {
        position: absolute;
        top: 1683px;
        left: -1px;
        width: 321px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .picture_hosting span
    {
        font-size: 0.9em;
    }


    /*Activity*/

    .contains_activity
    {
        margin-top: 795px;
        margin-left: 20px;
        height: 1377px;
    }
    .picture_activity
    {
        flex-direction: column;
    }

    .picture1 
    {
        padding-bottom: 20px;
    }

    .picture1 img
    {
        width: 335px;
        height: 190px;
    }
    .picture1 h2
    {
        width: 315px;
        top: 2941px;
    }

    .picture2
    {
        padding-bottom: 20px;
    }

    .picture2 img
    {
        width: 335px;
        height: 190px;
        margin-bottom: 213px;
    }

    .picture2 h2
    {
        width: 315px;
        top: 3155px;
    }

    .picture3
    {
        padding-bottom: 20px;
        top: 3251px;
        left: 20px;
    }

    .picture3 img
    {
        width: 335px;
        height: 190px;
    }

    .picture3 h2
    {
        width: 315px;
        top: 119px;
    }

    .picture4
    {
        padding-bottom: 20px;
    }

    .picture4 img
    {
        width: 335px;
        height: 190px;
    }

    .picture4 h2
    {
        width: 315px;
        top: 3582px;
    }

    .picture5
    {
        padding-bottom: 20px;
    }

    .picture5 img
    {
        width: 335px;
        height: 190px;
    }

    .picture5 h2
    {
        width: 315px;
        top: 3796px;
    }

    .picture6
    {
        padding-bottom: 20px;
        top: 3890px;
        left: 20px;
    }

    .picture6 img
    {
        width: 335px;
        height: 190px;
    }

    .picture6 h2
    {
        width: 315px;
        top: 119px;
    }

    /*footer*/

    footer
    {
        margin: 0;
        width: auto;
        height: 460px;
        flex-direction: column;
        padding-left: 30px;
    }

    footer span 
    {
        font-size: 1em;
    }

    footer h3
    {
        font-size: 1.2em;
    }

    .footer_about
    {
        padding-top: 20px;
        margin: 0;
        margin-bottom: 10px;
    }

    .footer_about a
    {
        margin-bottom: 10px;
    }

    .footer_hosting
    {
        margin: 0;
        margin-bottom: 10px;
    }

    .footer_hosting a
    {
        margin-bottom: 10px;
    }


    .footer_assistance
    {
        margin: 0;
    }

    .footer_assistance a
    {
        margin-bottom: 10px;
    }
}