@media all and (max-width: 375px)
{

    /*header*/

    header
    {
        display: flex;
        flex-direction: column;
    }

    #logo_reservia img
    {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    nav
    {
        border-bottom: 2px solid #F2F2F2;
        width: 375px;
        margin:0;
    }

    nav a
    {
        margin: 0;
        padding-left: 40px;
        padding-right: 65px;
        padding-bottom: 25px;
    }

    .nav_hosting
    {
        width: 167px;
        border: none;
        border-bottom: 2px solid #0065FC;
        padding: 0px 35px 25px 40px;
    }

    a:hover
    {
        padding: 0;
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 65px;
    }

    #inscription
    {
        position: absolute;
        top: 43px;
        right: 10px;
        font-weight: 600;
        border: none;
        padding: 0;
    }

    /*section*/

    /*paragraphes*/
    
    .title1 h1
    {
        margin-left: 20px;  
        font-size: 1.5em;
    }

    .span1 span
    {
        margin-left: 20px;
    }

    /*location search*/

    .logo_loc
    {
        margin-left: 20px;
        height: 18px;
    }

    .input
    {
        width: 260px;
        height: 50px;
        border: 1px solid #F2F2F2;
    }

    input
    {
        position: absolute;
        width: 200px;
        left: 80px;
        background: none;
    }

    .search_button
    {
        display: none;
    }

    .logo_search
    {
        display: flex;
        position: absolute;
        margin-left: 300px;
        padding: 18px 18px 16px 18px;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
        border: 1px solid #0065FC;
        color: white;
        background-color: #0065FC;
        border-radius: 20px;
    }

    /*Filters*/

    #filters
    {
        margin-top: 30px;
        width: 375px;
        margin-left: 0;
        flex-direction: column;
        outline: none;
    }

    #filters h1
    {
        position: absolute;
        left: 20px;
        top: 360px;
    }

    #economique
    {
        margin-left: 20px;
        margin-top: 30px;
    }

    .economique
    {
        width: 175px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }


    #familial
    {
        position: absolute;
        right: 28px;
        top: 410px;
    }

    .familial
    {
        width: 138px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    #romantique
    {
        margin-left: 20px;
        margin-top: 14px;
    }

    .romantique
    {
        width: 168px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    #animaux_autorisé
    {
        margin-left: 20px;
        margin-top: 14px;   
    }

    .animaux_autorisé
    {
        width: 225px;
        padding: 0;
        padding-left: 52px;
        font-weight: 600;
    }

    /*informations*/

    #informations
    {
        width: 375px;
        height: 30px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #informations p
    {
        margin-top: 40px;
    }

    /*section*/

    .section
    {
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }

    /*most popular*/

    .most_popular
    {
        width: auto;
        height: 580px;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        border-radius: 0;
    }

    .header h1
    {
        margin: 0;
        padding-top: 40px;
        font-size: 1,4em;
        margin-bottom: 25px;
    }

    #logo_header
    {
        padding-left: 90px;
        padding-top: 20px;
    }

    .pics_most_popular img
    {
        margin-bottom: 10px;
    }

    .description_pics_most_popular1
    {
        width: 175px;
        top: 811px;
        right: 20px;
    }

    .description_pics_most_popular2
    {
        width: 175px;
        top: 968px;
        right: 20px;
    }

    .description_pics_most_popular3
    {
        width: 175px;
        top: 1125px;
        right: 20px;
    }

    /*hosting*/

    .contains_hosting
    {
        background: none;
        margin-top: 20px;
        margin-left: 20px;
        padding: 0;
    }

    #pics_hosting
    {
        flex-direction: column;
    }

    .pics_hosting_1
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 23px right -6px;
    }

    .pics_hosting_2
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 23px right -6px;
    }

    .pics_hosting_3
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 26px right -12px;
    }

    .pics_hosting_4
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 302px right -6px;
    }
    
    .pics_hosting_5
    {
        width: 335px;
        height: 200px;
        margin-bottom: 12px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 45px right -6px;
    }

    .pics_hosting_6
    {
        width: 335px;
        height: 200px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px  #d9d9d9;
        background-position: bottom 406px right -6px;
    }

    .description_pics1
    {
        position: absolute;
        top: 809px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_pics2
    {
        position: absolute;
        top: 1030px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_pics3
    {
        position: absolute;
        top: 1249px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_pics4
    {
        position: absolute;
        top: 1217px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_pics5
    {
        position: absolute;
        top: 1437px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }

    .description_pics6
    {
        position: absolute;
        top: 1657px;
        left: -1px;
        width: 325px;
        background-size: cover;
        background-color: white;
        border-radius: 0 0 15px 15px;
        padding-left: 15px;
    }


    /*Activity*/

    .contains_activity
    {

        margin-top: 760px;
    }
    .pics_activity
    {
        display: none;
    }
}